In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
# Load the files int he data Frame
loan_df = pd.read_csv('../data/vehicle_loans.csv', index_col='UNIQUEID')

In [ ]:
#Check the Data Frame
loan_df.head()

In [ ]:
#Check the number of rows and columns 
loan_df.shape

In [ ]:
print("Number of rows: ", loan_df.shape[0])
print("Number of columns: ", loan_df.shape[1])

In [ ]:
# check the count of non-null values and the data types of each column

loan_df.info()

In [ ]:
# Convert the below field to datetime format

loan_df['DISBURSAL_DATE'] = pd.to_datetime(loan_df['DISBURSAL_DATE'])

In [ ]:
# Check the Max and min of the data to get an idea of the date range for whcih we have data

print("Maximum Disbursal Date: ", loan_df['DISBURSAL_DATE'].max())
print("Minium Disbursal Date: ", loan_df['DISBURSAL_DATE'].min())

In [ ]:
# how many days of data we have
print("Timespan of Data Set: ", loan_df['DISBURSAL_DATE'].max() - loan_df['DISBURSAL_DATE'].min())

In [ ]:
#Get some idea about the target variable

loan_df['LOAN_DEFAULT'].value_counts()

In [ ]:
# % distribution of the target variebles

loan_df['LOAN_DEFAULT'].value_counts(normalize=True)

In [ ]:
#Visualize our target variable using the countplot function from seaborn

sns.countplot(x="LOAN_DEFAULT", data=loan_df)
plt.show()

In [ ]:
# Find missing values

loan_df.isnull()

In [ ]:
# Get more information on missing values

loan_df.isnull().any()

In [ ]:
loan_df.isnull().sum()

In [1]:
#visualize EMPLOYMENT_TYPE counts

print(loan_df['EMPLOYMENT_TYPE'].value_counts())
sns.countplot(x="EMPLOYMENT_TYPE", data=loan_df)
plt.show()

NameError: name 'loan_df' is not defined

In [ ]:
# Taking care of the missing values and adding a place holder

loan_df = loan_df.fillna(value={'EMPLOYMENT_TYPE' : 'Missing'})

In [ ]:
#visualize EMPLOYMENT_TYPE counts again after adding the missing value

print(loan_df['EMPLOYMENT_TYPE'].value_counts())
sns.countplot(x="EMPLOYMENT_TYPE", data=loan_df)
plt.show()

In [ ]:
# below 2 columns can be used to infer a more Alorithm friendly format

loan_df[['DISBURSAL_DATE', 'DATE_OF_BIRTH']].sample(10)

In [2]:
# Conver the 2 columns to data time format

loan_df['DATE_OF_BIRTH'] = pd.to_datetime(loan_df['DATE_OF_BIRTH'])
loan_df['DISBURSAL_DATE'] = pd.to_datetime(loan_df['DISBURSAL_DATE'])

# create a new column and use above 2 col.s to get the age of the person at the time of loan disbursement

loan_df['AGE'] = loan_df['DISBURSAL_DATE'] - loan_df['DATE_OF_BIRTH']
loan_df['AGE'] = loan_df['AGE'] // np.timedelta64(1, 'Y')  # this will convert the age from Days to Years

#Inspect the results
print(loan_df[['DATE_OF_BIRTH', 'AGE', 'DISBURSAL_DATE']].sample(n=5))

NameError: name 'pd' is not defined

In [ ]:
# Make sure that DATE_OF_BIRTH and DISBURSAL_DATE are datetimes

loan_df['DATE_OF_BIRTH'] = pd.to_datetime(loan_df['DATE_OF_BIRTH'])
loan_df['DISBURSAL_DATE'] = pd.to_datetime(loan_df['DISBURSAL_DATE'])

print("DATE_OF_BIRTH variable type: ", loan_df['DATE_OF_BIRTH'].dtypes)
print("DISBURSAL_DATE variable type: ", loan_df['DISBURSAL_DATE'].dtypes)

- At this point, we do not know how the disbursal date might be related to loan defaults
- We want to explore this relationship so need to convert to a numeric representation
- We will convert it to the disbursal month and remove that column

In [3]:
loan_df['DISBURSAL_MONTH'] = loan_df['DISBURSAL_DATE'].dt.month
loan_df['DISBURSAL_MONTH'].value_counts()

NameError: name 'loan_df' is not defined

In [ ]:
loan_df = loan_df.drop(['DISBURSAL_DATE', 'DATE_OF_BIRTH'], axis=1)

String Manipulation
The current format of AVERAGE_ACCT_AGE and CREDIT_HISTORY_LENGTH is not useful


create a new column 'AVERAGE_ACCT_AGE_MONTHS' to store the average account age as an integer of months
n

In [ ]:
def calc_months(str_list):  
    years = int(str_list[0])
    months = int(str_list[1])

    num_months = (years * 12) + months
    return num_months

In [4]:
loan_df['AVERAGE_ACCT_AGE_MONTHS'] = loan_df['AVERAGE_ACCT_AGE'].str.findall('\d+')
print(loan_df['AVERAGE_ACCT_AGE_MONTHS'].sample(n=10))

NameError: name 'loan_df' is not defined

In [ ]:
# Use the map to apply function created above

loan_df['AVERAGE_ACCT_AGE_MONTHS'] = loan_df['AVERAGE_ACCT_AGE_MONTHS'].map(calc_months)

In [ ]:
print(loan_df[['AVERAGE_ACCT_AGE_MONTHS', 'AVERAGE_ACCT_AGE']].sample(n=10))

In [ ]:
#created a function to deal with above steps and make it simple

def convert_str_to_months(col_name):
    new_col = col_name + '_MONTHS'
    loan_df[new_col] = loan_df[col_name].str.findall('\d+')
    loan_df[new_col] = loan_df[new_col].map(calc_months)

In [ ]:
convert_str_to_months('CREDIT_HISTORY_LENGTH')
loan_df[['CREDIT_HISTORY_LENGTH_MONTHS', 'CREDIT_HISTORY_LENGTH']].sample(n=5)

In [ ]:
# Lets drop the columns for which we have already created a new col.

loan_df = loan_df.drop(['AVERAGE_ACCT_AGE', 'CREDIT_HISTORY_LENGTH'], axis=1)

Write the data frame to the file

In [ ]:
loan_df.to_csv('../data/vehicle_loans_clean.csv')